@page "/books"
@page "/books/{responseStatus}"
@layout DashboardLayout

<div class="pagetitle">
    <h1>Books</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Books</li>
        </ol>
    </nav>
</div>

@if(responseStatus is not null)
{
    Console.WriteLine(responseStatus);
    if(responseStatus.Equals(ResponseStatus.SUCCESS))
    {
        <AlertComponent alertMessage="Success." alertType="success" />
    } else if(responseStatus.Equals(ResponseStatus.ERROR))
    {
        <AlertComponent alertMessage="An error occured while performing operation." alertType="danger" />
    }
}

<CardComponent title="List of Books">

    <bodyFragment>
        <TableComponent>
            <Content>
            <thead>
                <tr>
                    <th><label @onclick="@(() => SortByColumn("Title"))"><b>Title</b></label></th>
                    <th><label @onclick="@(() => SortByColumn("Edition"))"><b>Edition</b></label></th>
                    <th><label @onclick="@(() => SortByColumn("CategoryName"))"><b>Category</b></label></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if(books is not null)
                    {
                        <Virtualize Items="books" Context="book">
                            <tr>
                                <td>@book.Title</td>
                                <td>@book.Edition</td>
                                <td>@book.Category.CategoryName</td>
                                <td>
                                    <a class="text-info" href="books/update/@book.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Update Book">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <span class="text-white"> | </span>
                                    <a class="text-danger" href="books/delete/@book.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Book">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </Virtualize>
                    }
                </tbody>
            </Content>
        </TableComponent>
    </bodyFragment>

    <footerFragment>
        <a class="btn btn-outline-success float-end" href="books/new" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Book">
            <i class="bi bi-plus"></i> New
        </a>
    </footerFragment>

</CardComponent>