@page "/books/update/{id:int}"
@layout DashboardLayout

<div class="pagetitle">
    <h1>Update Book</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="dashboard">
                    Dashboard
                </NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="books">
                    Books
                </NavLink>
            </li>
            <li class="breadcrumb-item active">Update Book</li>
        </ol>
    </nav>
</div>

@if(responseMessage is not null)
{
    if(responseStatus)
    {
        <AlertComponent alertMessage="@responseMessage" alertType="success" />
    } else
    {
        <AlertComponent alertMessage="@responseMessage" alertType="danger" />
    }
}

<EditForm Model="@book" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <CardComponent title="Update Book">

        <bodyFragment>

            <div class="row">
                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control"
                            placeholder="Book Title" autocomplete="off"
                            @bind-value="book.Title">
                    <span class="text-danger"><ValidationMessage For="@(() => book.Title)"></ValidationMessage></span>
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control"
                            placeholder="Book Description" autocomplete="off"
                            @bind-value="book.Description">
                    <span class="text-danger"><ValidationMessage For="@(() => book.Description)"></ValidationMessage></span>
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Edition</label>
                    <input type="text" class="form-control"
                            placeholder="Book Edition" autocomplete="off"
                            @bind-value="book.Edition">
                    <span class="text-danger"><ValidationMessage For="@(() => book.Edition)"></ValidationMessage></span>
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">ISBN</label>
                    <input type="text" class="form-control"
                            placeholder="XXX-X-XX-XXXXXX-X" autocomplete="off"
                            @bind-value="book.ISBN">
                    <span class="text-danger"><ValidationMessage For="@(() => book.ISBN)"></ValidationMessage></span>
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Book Category</label>
                    <select @bind="book.CategoryId" class="form-control" aria-required="true">
                        @if (categories != null)
                            @foreach (var category in categories)
                            {
                                <option value=@category.Id>@category.CategoryName</option>
                            }
                    <span class="text-danger"><ValidationMessage For="@(() => book.CategoryId)"></ValidationMessage></span>
                    </select>
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Cover</label>
                        <div class="form-control">
                        <InputFile OnChange="@LoadFiles" />
                        </div>
                        <input type="hidden" class="form-control" @bind-value="book.Size" />
                    <span class="text-danger"><ValidationMessage For="@(() => book.Size)"></ValidationMessage></span>
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Price</label>
                    <input type="text" class="form-control"
                            placeholder="Book Price" autocomplete="off"
                            @bind-value="book.Price">
                    <span class="text-danger"><ValidationMessage For="@(() => book.Price)"></ValidationMessage></span>
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Copies Available</label>
                    <input type="text" class="form-control"
                           placeholder="Copies Available" autocomplete="off"
                           @bind-value="book.CopiesAvailable">
                    <span class="text-danger"><ValidationMessage For="@(() => book.CopiesAvailable)"></ValidationMessage></span>
                </div>

                <div class="form-group col-lg-4 col-md-6">
                    <label class="form-label">Book Status</label>
                    <select @bind="book.Status" class="form-control" aria-required="true">
                        @if (categories != null)
                            @foreach (var category in categories)
                            {
                                <option value=@category.Id>@category.CategoryName</option>
                            }
                        <span class="text-danger"><ValidationMessage For="@(() => book.CategoryId)"></ValidationMessage></span>
                    </select>
                </div>
            </div>

            <BookAuthorsTable OnAuthorSelected="SelectedAuthor" listOfAuthors="@book.Authors"></BookAuthorsTable>
        
        </bodyFragment>

        <footerFragment>
            <a href="books" class="btn btn-outline-secondary @IsDisabled">
                Cancel
            </a>
            <button type="submit" class="btn btn-outline-success @IsDisabled">
                <i class="bi bi-save"></i> Update
            </button>
        </footerFragment>
    </CardComponent>
</EditForm>