
@page "/shop/{id}"

@inject IBookService BookService

@if (book is not null)
{

    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="@book.ImageUrl" alt="@book.Title" id="product-detail" height="250" width="250">
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">@book.Title</h1>
                            <h6>Description:</h6>
                            <p>@book.Description</p>

                            <form action="" method="GET">
                                <div class="row">

                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Price : 
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge bg-secondary" id="var-value">
                                                    <input type="number" min="1" @bind-value="@totalPrice" disabled />
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Quantity
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus" @onclick="() => DecreaseQuantity()">-</span></li>
                                            <li class="list-inline-item">
                                                <span class="badge bg-secondary" id="var-value">
                                                    <input type="number" min="1" @bind-value="@_quantity" disabled />
                                                </span>
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus" @onclick="() => IncreaseQuantity()">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="request">Buy</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@code {
    [Parameter]
    public string id { get; set; }
    private int _quantity { get; set; } = 1;
    private decimal totalPrice { get; set; }

    private Book book;

    protected override async Task OnInitializedAsync()
    {
        book = await BookService.GetByAsync(int.Parse(id));
        totalPrice = book.Price;
    }

    public void DecreaseQuantity()
    {
        if (_quantity > 1)
        {
            _quantity--;
            CalculateTotalPrice();
        }
    }

    public void IncreaseQuantity()
    {
        _quantity++;
        CalculateTotalPrice();
    }

    private void CalculateTotalPrice()
    {
        totalPrice = book.Price * _quantity;
    }
}
