@page "/categories/delete/{categoryId:int}"
@layout DashboardLayout

@inject ICategoryService Service
@inject NavigationManager NavigationManager

<div class="pagetitle">
    <h1>Delete Category</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="dashboard">
                    Dashboard
                </NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="Categories">
                    Category
                </NavLink>
            </li>
            <li class="breadcrumb-item active">Delete Category</li>
        </ol>
    </nav>
</div>

@if(responseMessage is not null)
{
    if(responseStatus)
    {
        <AlertComponent alertMessage="@responseMessage" alertType="success" />
    } else
    {
        <AlertComponent alertMessage="@responseMessage" alertType="danger" />
    }
}

<EditForm Model="@category" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
        <CardComponent title="Delete Category">
            <bodyFragment>

                <p>You are about to delete the category named <i>@category.CategoryName</i></p>

            </bodyFragment>
            <footerFragment>
                <a class="btn btn-outline-secondary @IsDisabled" href="/authors">
                    Cancel
                </a>
                <button type="submit" class="btn btn-outline-danger @IsDisabled">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </footerFragment>
        </CardComponent>
</EditForm>

@code {
    private Category category = new Category();

    [Parameter]
    public int categoryId { get; set; }
    private bool responseStatus;
    private string responseMessage;
    private string IsDisabled = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        var response = await Service.GetByAsync(categoryId);
        category = response.ResponseData;
    }

    public async Task OnValidSubmit()
    {
        IsDisabled = "disabled";
        var result = await Service.DeleteAsync(category.Id);
        responseStatus = result.Succeeded;
        responseMessage = result.Message;
        StateHasChanged();

        await Task.Delay(2000);
        NavigationManager.NavigateTo("categories", true);
    }

}