@page "/librarians/new"
@layout DashboardLayout

@inject ILibrarianService Service
@inject NavigationManager NavigationManager

<div class="pagetitle">
    <h1>Categories</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">
                <NavLink href="librarians">
                    Librarians
                </NavLink>
            </li>
            <li class="breadcrumb-item active">New Librarian</li>
        </ol>
    </nav>
</div>

<EditForm Model="@librarian" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <CardComponent title="New Librarian">
        <bodyFragment>

                <div class="row">
                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control"
                            placeholder="John" autocomplete="off"
                            @bind-value="librarian.FirstName">
                        <span class="text-danger"><ValidationMessage For="@(() => librarian.FirstName)"></ValidationMessage></span>
                    </div>

                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control"
                            placeholder="Doe" autocomplete="off"
                            @bind-value="librarian.LastName">
                        <span class="text-danger"><ValidationMessage For="@(() => librarian.LastName)"></ValidationMessage></span>
                    </div>

                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control"
                            placeholder="Street 1 Avenue 1" autocomplete="off"
                            @bind-value="librarian.Address">
                        <span class="text-danger"><ValidationMessage For="@(() => librarian.Address)"></ValidationMessage></span>
                    </div>

                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">Phone Number</label>
                        <input type="text" class="form-control"
                            placeholder="XX XXX XXXX" autocomplete="off"
                            @bind-value="librarian.PhoneNumber">
                        <span class="text-danger"><ValidationMessage For="@(() => librarian.PhoneNumber)"></ValidationMessage></span>
                    </div>

                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">Email Address</label>
                        <input type="text" class="form-control"
                            placeholder="jdoe@example.com" autocomplete="off"
                            @bind-value="librarian.Email">
                        <span class="text-danger"><ValidationMessage For="@(() => librarian.Email)"></ValidationMessage></span>
                    </div>

                </div>

            
        </bodyFragment>
        <footerFragment>
            <NavLink href="librarians" class="btn btn-outline-secondary">
                Cancel
            </NavLink>
            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-save"></i> Save
            </button>
        </footerFragment>
    </CardComponent>
</EditForm>

@code {
    private Librarian librarian = new Librarian();

    private async Task OnValidSubmit()
    { 
        var result = await Service.CreateAsync(librarian);
        string message = result.Succeeded ? ResponseStatus.SUCCESS : ResponseStatus.ERROR;

        NavigationManager.NavigateTo($"librarians/{message}", true);
    }
}
