@page "/librarians/update/{librarianId:int}"
@layout DashboardLayout

@inject ILibrarianService Service
@inject NavigationManager NavigationManager


<div class="pagetitle">
    <h1>Librarian</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">
                <NavLink href="librarians">
                    Librarians
                </NavLink>
            </li>
            <li class="breadcrumb-item active">Update Librarian</li>
        </ol>
    </nav>
</div>

@if(responseMessage is not null)
{
    if(responseStatus)
    {
        <AlertComponent alertMessage="@responseMessage" alertType="success" />
    } else
    {
        <AlertComponent alertMessage="@responseMessage" alertType="danger" />
    }
}

<EditForm Model="@librarian" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <CardComponent title="Update Librarian">
        <bodyFragment>

                <div class="row">
                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control"
                            placeholder="John" autocomplete="off"
                            @bind-value="librarian.FirstName">
                    </div>

                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control"
                            placeholder="Doe" autocomplete="off"
                            @bind-value="librarian.LastName">
                    </div>

                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control"
                            placeholder="Street 1 Avenue 1" autocomplete="off"
                            @bind-value="librarian.Address">
                    </div>

                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">Phone Number</label>
                        <input type="text" class="form-control"
                            placeholder="XX XXX XXXX" autocomplete="off"
                            @bind-value="librarian.PhoneNumber">
                    </div>

                    <div class="form-group col-lg-4 col-md-6">
                        <label class="form-label">Email Address</label>
                        <input type="text" class="form-control"
                            placeholder="jdoe@example.com" autocomplete="off"
                            @bind-value="librarian.Email">
                    </div>

                </div>

            
        </bodyFragment>
        <footerFragment>
            <div class="text-center">
                <a href="librarians" class="btn btn-outline-secondary @IsDisabled">
                    Cancel
                </a>
                <button type="submit" class="btn btn-outline-success @IsDisabled">
                    <i class="bi bi-save"></i> Update
                </button>
            </div>
        </footerFragment>
    </CardComponent>
</EditForm>

@code {
    private Librarian librarian = new Librarian();
    [Parameter]
    public int librarianId { get; set; }
    
    private bool responseStatus;
    private string responseMessage;
    private string IsDisabled = string.Empty;

    protected override async Task OnParametersSetAsync() => librarian = (await Service.GetByAsync(librarianId)).ResponseData;

    private async Task OnValidSubmit()
    {
        IsDisabled = "disabled";
        var result = await Service.UpdateAsync(librarian);
        responseStatus = result.Succeeded;
        responseMessage = result.Message;
        StateHasChanged();

        await Task.Delay(2000);
        NavigationManager.NavigateTo("librarians", true);
    }
}
