@page "/authors"
@layout DashboardLayout

@inject IJSRuntime JS
@inject IAuthorService Service

<div class="pagetitle">
    <h1>Authors</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Authors</li>
        </ol>
    </nav>
</div>

<CardComponent title="List of Authors">

    <bodyFragment>
        <TableComponent>
            <Content>
                <thead>
                    <tr>
                        <th>
                            <label @onclick="@(() => SortByColumn("FirstName"))"><b>First Name</b></label>
                        </th>
                        <th>
                            <label @onclick="@(() => SortByColumn("LastName"))"><b>Last Name</b></label>
                        </th>
                        <th>
                            <label @onclick="@(() => SortByColumn("Nationality"))"><b>Nationality</b></label>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        @if (authors is not null)
                        {
                            <Virtualize Items="authors" Context="author">
                                <tr>
                                    <td>@author.FirstName</td>
                                    <td>@author.LastName</td>
                                    <td>@author.Nationality</td>
                                    <td>
                                        <a class="btn text-info" href="/authors/update/@author.Id"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Update Author">
                                            <i class="bi bi-pencil"></i>
                                        </a>

                                        <a class="btn text-danger" href="/authors/delete/@author.Id"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Author">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </Virtualize>
                        }
                </tbody>
            </Content>
        </TableComponent>

        <PaginationComponent totalPages="_totalPages" OnPageChange="HandlePageChange"></PaginationComponent>
    </bodyFragment>

    <footerFragment>
        <a class="btn btn-outline-success" href="/authors/new"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Add Author">
            <i class="bi bi-plus"></i> New
        </a>
    </footerFragment>

</CardComponent>
