@page "/authors"
@layout DashboardLayout

@inject IJSRuntime JS
@inject IAuthorService Service

<div class="pagetitle">
    <h1>Authors</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Authors</li>
        </ol>
    </nav>
</div>

<CardComponent title="List of Authors">

    <bodyFragment>
        <TableComponent>
            <Content>
                <thead>
                    <tr>
                        <th>
                            <label @onclick="@(() => SortByColumn("FirstName"))">First Name</label>
                        </th>
                        <th>
                            <label @onclick="@(() => SortByColumn("LastName"))">Last Name</label>
                        </th>
                        <th>
                            <label @onclick="@(() => SortByColumn("Nationality"))">Nationality</label>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        @if (authors is not null)
                        {
                            <Virtualize Items="authors" Context="author">
                                <tr>
                                    <td>@author.FirstName</td>
                                    <td>@author.LastName</td>
                                    <td>@author.Nationality</td>
                                    <td>
                                    <button type="button" class="btn text-info"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Update Author">
                                            <i class="bi bi-pencil"></i>
                                        </button>

                                    <button type="button" class="btn text-danger"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Author">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </Virtualize>
                        }
                </tbody>
            </Content>
        </TableComponent>

        <PaginationComponent totalPages="_totalPages" OnPageChange="HandlePageChange"></PaginationComponent>
    </bodyFragment>

    <footerFragment>
        <a class="btn btn-outline-success" href="/authors/new"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Add Author">
            <i class="bi bi-plus"></i> New
        </a>
    </footerFragment>

</CardComponent>
