@page "/authors/update/{authorId:int}"
@layout DashboardLayout

@inject IAuthorService Service
@inject NavigationManager NavigationManager

<div class="pagetitle">
    <h1>Update Author</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="dashboard">
                    Dashboard
                </NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="authors">
                    Authors
                </NavLink>
            </li>
            <li class="breadcrumb-item active">Update Author</li>
        </ol>
    </nav>
</div>

@if(responseMessage is not null)
{
    if(responseStatus)
    {
        <AlertComponent alertMessage="@responseMessage" alertType="success" />
    } else
    {
        <AlertComponent alertMessage="@responseMessage" alertType="danger" />
    }
}

<EditForm Model="@author" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
        <CardComponent title="Update Author">
            <bodyFragment>

                <div class="form-group mb-2">
                    <label class="form-label">First name</label>
                    <input type="text" class="form-control"
                        placeholder="John" autocomplete="off"
                        @bind-value="author.FirstName">
                    <span class="text-danger"><ValidationMessage For="@(() => author.FirstName)"></ValidationMessage></span>
                </div>

                <div class="form-group mb-2">
                    <label class="form-label">Last name</label>
                    <input type="text" class="form-control"
                        placeholder="Doe" autocomplete="off"
                        @bind-value="author.LastName">
                    <span class="text-danger"><ValidationMessage For="@(() => author.LastName)"></ValidationMessage></span>
                </div>

                <div class="form-group mb-2">
                    <label class="form-label">Nationality</label>
                    <input type="text" class="form-control"
                        placeholder="Mozambican" autocomplete="off"
                        @bind-value="author.Nationality">
                    <span class="text-danger"><ValidationMessage For="@(() => author.Nationality)"></ValidationMessage></span>
                </div>

            </bodyFragment>
            <footerFragment>
                <a class="btn btn-outline-secondary @IsDisabled" href="/authors">
                    Cancel
                </a>
                <button type="submit" class="btn btn-outline-success @IsDisabled">
                    <i class="bi bi-save"></i> Save
                </button>
            </footerFragment>
        </CardComponent>
</EditForm>

@code {
    private Author author = new Author();

    [Parameter]
    public int authorId { get; set; }
    private bool responseStatus;
    private string responseMessage;
    private string IsDisabled = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        var response = await Service.GetByAsync(authorId);
        author = response.ResponseData;
    }

    public async Task OnValidSubmit()
    {
        IsDisabled = "disabled";
        var result = await Service.UpdateAsync(author);
        responseStatus = result.Succeeded;
        responseMessage = result.Message;
        StateHasChanged();

        await Task.Delay(2000);
        NavigationManager.NavigateTo("authors", true);
    }

}
